<app-navbar></app-navbar>

<main class="admin-page">

    <h1>Super Administrator</h1>

    <p>
        System administration dashboard
    </p>

    <div class="admin-options">

        <button>
            Group Requests
        </button>

        <button>
            Ban Requests
        </button>

        <button>
            Delete Group Requests
        </button>

        <button>
            Users
        </button>

        <button>
            Banned Users
        </button>

        <button>
            Audit Logs
        </button>

    </div>

</main>