<app-navbar></app-navbar>


<main class="groups-page">

    <h1>
        Groups
    </h1>


    <!-- SEARCH -->

    <div class="search">

        <label>
            Search Groups
        </label>


        <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Search groups"
        >

    </div>


    <!-- CREATE GROUP REQUEST -->

    <button
        (click)="
            showGroupRequestForm =
                !showGroupRequestForm
        "
    >
        Request New Group
    </button>


    <form
        *ngIf="showGroupRequestForm"
        (ngSubmit)="submitGroupRequest()"
        class="group-request-form"
    >

        <h2>
            Request New Group
        </h2>


        <label>Title</label>

        <input
            name="requestTitle"
            [(ngModel)]="requestTitle"
            maxlength="30"
            required
        >


        <label>Description</label>

        <textarea
            name="requestDescription"
            [(ngModel)]="requestDescription"
            maxlength="250"
            required
        ></textarea>


        <label>
            Minimum Age
        </label>

        <input
            name="requestMinimumAge"
            type="number"
            [(ngModel)]="requestMinimumAge"
            required
        >


        <label>Theme</label>

        <select
            name="requestTheme"
            [(ngModel)]="requestTheme"
        >

            <option value="default">
                Default
            </option>

            <option value="dark">
                Dark
            </option>

            <option value="blue">
                Blue
            </option>

        </select>


        <button type="submit">
            Submit Request
        </button>

    </form>


    <p
        class="success"
        *ngIf="successMessage"
    >
        {{ successMessage }}
    </p>


    <p
        class="error"
        *ngIf="errorMessage"
    >
        {{ errorMessage }}
    </p>


    <!-- YOUR GROUPS -->

    <h2>
        Your Groups
    </h2>


    <div
        class="group-card"
        *ngFor="let group of filteredGroups"
    >

        <ng-container
            *ngIf="isMember(group)"
        >

            <h3>
                {{ group.title }}
            </h3>


            <p>
                {{ group.description }}
            </p>


            <p>
                Minimum Age:
                {{ group.minimumAge }}+
            </p>


            <strong
                *ngIf="isAdmin(group)"
            >
                Group Administrator
            </strong>


            <br>


            <a
                [routerLink]="[
                    '/groups',
                    group.id
                ]"
            >
                Open Group
            </a>


            <br>


            <a
                *ngIf="isAdmin(group)"
                [routerLink]="[
                    '/groups',
                    group.id,
                    'admin'
                ]"
            >
                Manage Group
            </a>

        </ng-container>

    </div>


    <!-- ALL GROUPS -->

    <h2>
        All Groups
    </h2>


    <div
        class="group-card"
        *ngFor="let group of filteredGroups"
    >

        <ng-container
            *ngIf="!isMember(group)"
        >

            <h3>
                {{ group.title }}
            </h3>


            <p>
                {{ group.description }}
            </p>


            <p>
                Minimum Age:
                {{ group.minimumAge }}+
            </p>


            <button
                (click)="requestJoin(group)"
            >
                Request to Join
            </button>

        </ng-container>

    </div>


    <hr>


    <!-- REQUEST HISTORY -->

    <section>

        <h2>
            My Request History
        </h2>


        <p
            *ngIf="
                requestHistory.length === 0
            "
        >
            You have not submitted any requests.
        </p>


        <div
            class="group-card"
            *ngFor="
                let request
                of requestHistory
            "
        >

            <p>
                <strong>Type:</strong>

                {{
                    getRequestTypeLabel(
                        request
                    )
                }}
            </p>


            <p>
                <strong>Subject:</strong>

                {{
                    getRequestSubject(
                        request
                    )
                }}
            </p>


            <p>
                <strong>Status:</strong>

                {{ request.status }}
            </p>


            <p>
                <strong>Submitted:</strong>

                {{ request.createdAt }}
            </p>


            <p
                *ngIf="
                    request.rejectionReason
                "
            >
                <strong>
                    Rejection Reason:
                </strong>

                {{
                    request.rejectionReason
                }}
            </p>

        </div>

    </section>

</main>