<nav class="navbar">

<a
    class="navbar-brand"
    [routerLink]="isSuperAdmin ? ['/super-admin'] : ['/groups']"
>
    <img
        src="/fabulari-logo.png"
        alt="Fabulari - where communities meet"
        class="navbar-logo"
    >
</a>

    <div class="nav-links">

        <a
            *ngIf="!isSuperAdmin"
            routerLink="/groups"
        >
            Groups
        </a>

        <a
            *ngIf="isSuperAdmin"
            routerLink="/super-admin"
        >
            Super Admin
        </a>

        <a
            *ngIf="!isSuperAdmin"
            routerLink="/profile"
>
            Profile
        </a>
    <span *ngIf="currentUser()">
        {{ currentUser()?.username }}
    </span>

        <button (click)="logout()">
            Logout
        </button>

    </div>

</nav>